*{
    margin: 0;
    box-sizing: border-box;
    font-size:0;

}
/*全局設定*/
* {
    box-sizing: border-box;
    margin: 0;
    font-size: 0;
  }
  
  h2 {
    font-size: 30px;
    letter-spacing: 0.1rem;
    color: #1e1e1e;
  }
  
  h4 {
    font-size: 16px;
    margin: 3px 0;
    color: #646464;
  }
  
  p {
    font-size: 16px;
    color: #1e1e1e;
    letter-spacing: 1px;
    line-height: 22px;
  }
  
  span {
    font-size: 16xp;
  }
  
  a {
    text-decoration: none;
  }

  @media (max-width: 575px){
    h2{
    
    font-size: 26px;
    letter-spacing: 0.1rem;
    }
    p{
        font-size: 15px;
    }
  }
  /*地圖*/
div.mapblock{
    width:100%;
    padding-top: 5vw;
    position: relative;
    margin-bottom: 15vw;
    
  
}
div.mapblock::after{
  content:"";
  position: absolute;
  top:0;
  left:0;
  
  width:100%;
  height:60%;
  
  background-image: url(./images/Lovepik_com-401541701-fresh-water-wave-background.jpg);
  background-position: top;
  background-size: cover;
  opacity: 0.2;
  z-index:-1;
  box-shadow: inset 0px 20px 10px 10px rgba(255, 255, 255, 0.842);





}
div.mapblock::before{

  content:"";
  position: absolute;
  top:0;
  left:0;
  
  width:100%;
  height:60%;
  background: linear-gradient(0deg,white 0,transparent 60%);

}
div.mapbanner{
    width:100%;
    background-image: url("./images/陽明山國家公園湖山路一段櫻花-攝_許宜容.jpg");
    background-position: 50%;
    //border:1px solid red;
    background-attachment: none;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 40vw;
    max-height: 500px;
    min-height: 380px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    



}
@media screen and (min-width:768px){
  div.mapbanner{
    background-attachment: fixed;

  }
  
}
div.textblock{
    width:50%;
    min-width:340px;
    max-width:600px;
    
    height:60%;
    
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    
    background-color:rgba(0,0,0,0.6) ;
    
}
div.text{
    margin: 10px;
    width:calc(100% - 20px);
    height:calc(100% - 20px);
    padding: 10px;
    border: 3px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

div.middle>h2{
    color:#fff;
    text-align: center;
    margin-bottom: 10px;
    
}
div.middle>p{
    color:#fff;
}
div.taipeimap{
    
    width:975px;
    
    margin-left: auto;
    margin-right: auto;
    padding:20px;
    
    
    text-align: center;
    position: relative;
    
  
  
  
    
    
}
div.taipeimap>img.real{
   
    width:700px;
    
    
    
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    
}
div.taipeimap>img.shadow{
  position: absolute;
  left:50%;
  transform: translatex(-50%);
  width:700px;
  z-index: -1;
  -webkit-box-reflect: below -90px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
  
}

.phonemap{
  width:100%;
  text-align: center;
  z-index: 3;
  overflow: hidden;
}
.phonemap>img{
  width:100%;
  filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
  margin-bottom: 50px;
  -webkit-box-reflect: below -90px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.1));
  
  
}

/*div.mapblock::before{
  
    //content: "";
    

    position: absolute;
    top:0;
    left:0;
    width:80%;
    height:20%;
    background-color: #f7f7f7;
    z-index: -1;

  
}*/
div.mapbutton{
  
  
  font-size:16px;
  display: inline-block;
  position: absolute;
  background-color: #fff;
    text-decoration: none;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 0.1rem;
    color: rgb(61, 165, 149);
    border: 1px solid rgb(61, 165, 149);
    border-radius: 50px;
    padding: 2px 10px;
    box-shadow: 2px 1px 0px rgb(61, 165, 149);
    transition: all 0.5s;
    cursor: pointer;
    width:135px;
}
div.mapbutton:hover{
  background-color:rgb(61, 165, 149) ;
  color:white;

}



.hotone{

  font-size: 16px;
    
  position: absolute;
  bottom: 34px;
    right: 110px;
    
}
.hottwo{
  bottom: 251px;
    right: 45px;
}
.hotthree{
  bottom: 477px;
    right: 62px;

}
.hotfour{
  top: 110px;
  right: 120px;
}
.hotfive{
  top: 8px;
    right: 250px;

}
.hotsix{
  top: 101px;
    left: 78px;
}
.hotseven{
  top: 233px;
    left: 20px;
}
.hoteight{
  bottom: 237px;
    left: 33px;

}
.hotnine{
  bottom: 124px;

    left: 107px;

}
.hotten{
  bottom: 8px;
  left: 260px;
}

@media screen and (min-width:992px){
  .taipeimap{
    display: block;
  }
  .phonemap{
    display:none;
  }
  
}


@media screen and (max-width:991px){
 
  .taipeimap{
    display: none;
  }
  .phonemap{
    display: block;
  }
  div.mapbutton{
    position: relative!important;
    max-width:350px;
    width:80%;
    letter-spacing: 2px;
  }
  
}

